.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #0a0a0a;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav li {
  color: #957d4f;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 25px;
}
.nav li:hover {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.nav a {
  text-decoration: none;
  color: #957d4f;
}

.follow-us-burger {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-media-title h6 {
  font-size: 25px;
  text-transform: uppercase;
}

.social-media-icons i {
  padding: 0.5rem;
  font-size: 25px;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.burger:before, .burger:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #957d4f;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger:before {
  top: 0;
}
.burger:after {
  bottom: 0;
}
.burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.burger.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
      -ms-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}
.burger span {
  height: 2px;
  width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-color: #957d4f;
}